:80 {
    root * /usr/share/caddy
    file_server


    # Servir imagens do backend (uploads)
    handle /images/* {
        reverse_proxy backend:3000
    }

    handle /api/* {
        reverse_proxy backend:3000
    }

    # SPA fallback - redireciona todas as rotas para index.html
    #try_files {path} /index.html
}
